@charset "UTF-8";
body, html {
  width: 100%;
  height: 100%;
  .container {
    width: 100%;
    height: 2198px;
    box-sizing: border-box;
    background: url('../images/bc.png') 0% 0% / 100% 100%;
    position: relative;
    .main {
      position: absolute;
      top: 1000px;
      left: 0;
      padding: 0 44px;
      box-sizing: border-box;
      width: 100%;
      height: 514px;
      .content {
        background: rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 100%;
        border-radius: 20px;

        box-sizing: border-box;
        padding: 50px 48px 0 48px;
        .text {
          line-height: 32px;
          text-align: center;
          span {
            font-size: 32px;
            color: #711F02;
          }
        }
        .input_container {
          width: 100%;
          :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #999999;
            opacity: 1;
          }

          ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #999999;
            opacity: 1;
          }

          input:-ms-input-placeholder {
            color: #999999;
            opacity: 1;
          }

          input::-webkit-input-placeholder {
            color: #999999;
            opacity: 1;
          }
          .input {
            &:first-child {
              margin-top: 38px;
            }
            margin-top: 46px;
            height: 90px;
            overflow: hidden;
            font-size: 32px;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            position: relative;
            span {
              display: inline-block;
              width: 14px;
              height: 100%;
              background: #FFD541;
            }
            input {
              margin-left: 24px;
              padding: 0;
              width: 100%;
              outline: none;
              position: absolute;
              max-width: 440px;
              top: 0;
              height: 100%;
              //left: 20px;
              border: none;
            }
          }
          .phone_input {
            background: #fff;
          }
          .verify_input {
            width: 100%;
            background: inherit;
            input {
              width: 264px;
              padding: 0 12px;
              background: #fff;
              margin-left: 0px;
              border-bottom-right-radius: 5px;
              border-top-right-radius: 5px;
            }
            .getVerify {
              display: inline-block;
              background: #FFDB15;
              height: 84px;
              line-height: 88px;
              color: #771F00;
              text-align: center;
              box-shadow: 0px 2px #D0B310;
              border-radius: 10px;
              width: 180px;
              position: absolute;
              left: 190px;
              top: 0;
              font-size: 26px;
            }
          }
          .btn {
            background: #FFDB15;
            text-align: center;
            color: #771F00;
            line-height: 90px;
            border-radius: 25px;
            box-shadow: 0px 2px #D0B310;
          }
        }
      }
      .down_btn {
        width: 100%;
        box-sizing: border-box;
        margin-top: 370px;
        > div {
          width: 274px;
          height: 110px;
          line-height: 110px;
          text-align: center;
          color: #fff;
          border-radius: 10px;
          font-size: 32px;
          float: left;
        }
        .ios {
          //background: #313131;
          margin-left: 35px;
          background: url('../images/iphone.png') 0% 0% / 100% 100%;
        }
        .Android {
          //background: #FF651A;
          ////margin-left: 30px;
          margin-right: 35px;
          background: url('../images/android.png') 0% 0% / 100% 100%;
        }
      }
    }
  }
  footer {
    width: 368px;
    margin: 0 auto;
    height: 170px;
    margin-top: 40px;
    img {
      width: 100px;
      height: 100px;
    }
    .text{
      margin-left: 20px;
    }
    .one{
      color: #2E2E2E;
      margin-top: 10px;
      font-size: 36px;
    }
    .two{
      color:#848484;
      font-size: 34px;
    }
  }
}

  //媒体查询 适配浏览器
@media only screen and(min-width: 750px) {
  .down_btn{
    >div{
      cursor: pointer;
    }
    .Android {
      float: right!important;
    }
  }
  .verify_input{
    position: relative!important;
    .getVerify{
      position: absolute;
      left: inherit!important;
      right: 0!important;
      cursor: pointer;
    }
  }
  .btn{
    cursor: pointer;
  }
}