body, html {
  width: 100%;
  height: 100%; }
  body .container, html .container {
    width: 100%;
    height: 2198px;
    box-sizing: border-box;
    background: url("../images/bc.png") 0% 0%/100% 100%;
    position: relative; }
    body .container .main, html .container .main {
      position: absolute;
      top: 1000px;
      left: 0;
      padding: 0 44px;
      box-sizing: border-box;
      width: 100%;
      height: 514px; }
      body .container .main .content, html .container .main .content {
        background: rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 100%;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 50px 48px 0 48px; }
        body .container .main .content .text, html .container .main .content .text {
          line-height: 32px;
          text-align: center; }
          body .container .main .content .text span, html .container .main .content .text span {
            font-size: 32px;
            color: #711F02; }
        body .container .main .content .input_container, html .container .main .content .input_container {
          width: 100%; }
          body .container .main .content .input_container :-moz-placeholder, html .container .main .content .input_container :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #999999;
            opacity: 1; }
          body .container .main .content .input_container ::-moz-placeholder, html .container .main .content .input_container ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #999999;
            opacity: 1; }
          body .container .main .content .input_container input:-ms-input-placeholder, html .container .main .content .input_container input:-ms-input-placeholder {
            color: #999999;
            opacity: 1; }
          body .container .main .content .input_container input::-webkit-input-placeholder, html .container .main .content .input_container input::-webkit-input-placeholder {
            color: #999999;
            opacity: 1; }
          body .container .main .content .input_container .input, html .container .main .content .input_container .input {
            margin-top: 46px;
            height: 90px;
            overflow: hidden;
            font-size: 32px;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            position: relative; }
            body .container .main .content .input_container .input:first-child, html .container .main .content .input_container .input:first-child {
              margin-top: 38px; }
            body .container .main .content .input_container .input span, html .container .main .content .input_container .input span {
              display: inline-block;
              width: 14px;
              height: 100%;
              background: #FFD541; }
            body .container .main .content .input_container .input input, html .container .main .content .input_container .input input {
              margin-left: 24px;
              padding: 0;
              width: 100%;
              outline: none;
              position: absolute;
              max-width: 440px;
              top: 0;
              height: 100%;
              border: none; }
          body .container .main .content .input_container .phone_input, html .container .main .content .input_container .phone_input {
            background: #fff; }
          body .container .main .content .input_container .verify_input, html .container .main .content .input_container .verify_input {
            width: 100%;
            background: inherit; }
            body .container .main .content .input_container .verify_input input, html .container .main .content .input_container .verify_input input {
              width: 264px;
              padding: 0 12px;
              background: #fff;
              margin-left: 0px;
              border-bottom-right-radius: 5px;
              border-top-right-radius: 5px; }
            body .container .main .content .input_container .verify_input .getVerify, html .container .main .content .input_container .verify_input .getVerify {
              display: inline-block;
              background: #FFDB15;
              height: 84px;
              line-height: 88px;
              color: #771F00;
              text-align: center;
              box-shadow: 0px 2px #D0B310;
              border-radius: 10px;
              width: 180px;
              position: absolute;
              left: 190px;
              top: 0;
              font-size: 26px; }
          body .container .main .content .input_container .btn, html .container .main .content .input_container .btn {
            background: #FFDB15;
            text-align: center;
            color: #771F00;
            line-height: 90px;
            border-radius: 25px;
            box-shadow: 0px 2px #D0B310; }
      body .container .main .down_btn, html .container .main .down_btn {
        width: 100%;
        box-sizing: border-box;
        margin-top: 370px; }
        body .container .main .down_btn > div, html .container .main .down_btn > div {
          width: 274px;
          height: 110px;
          line-height: 110px;
          text-align: center;
          color: #fff;
          border-radius: 10px;
          font-size: 32px;
          float: left; }
        body .container .main .down_btn .ios, html .container .main .down_btn .ios {
          margin-left: 35px;
          background: url("../images/iphone.png") 0% 0%/100% 100%; }
        body .container .main .down_btn .Android, html .container .main .down_btn .Android {
          margin-right: 35px;
          background: url("../images/android.png") 0% 0%/100% 100%; }
  body footer, html footer {
    width: 368px;
    margin: 0 auto;
    height: 170px;
    margin-top: 40px; }
    body footer img, html footer img {
      width: 100px;
      height: 100px; }
    body footer .text, html footer .text {
      margin-left: 20px; }
    body footer .one, html footer .one {
      color: #2E2E2E;
      margin-top: 10px;
      font-size: 36px; }
    body footer .two, html footer .two {
      color: #848484;
      font-size: 34px; }

@media only screen and (min-width: 750px) {
  .down_btn > div {
    cursor: pointer; }
  .down_btn .Android {
    float: right !important; }

  .verify_input {
    position: relative !important; }
    .verify_input .getVerify {
      position: absolute;
      left: inherit !important;
      right: 0 !important;
      cursor: pointer; }

  .btn {
    cursor: pointer; } }

/*# sourceMappingURL=register.css.map */
